.board {
  min-width: 450px;
  width: 450px;
  max-height: 100%;
  flex-basis: 290px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.board_header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.board_header_title {
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  gap: 5px;
  align-items: center;
  padding-left: 15px;
}

.board_header_title span {
  color: rgb(185, 185, 185);
}

.board_header_title_more {
  cursor: pointer;
  position: relative;
}

.board_dropdown {
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.12);
  padding: 8px;
  padding-bottom: 1px;
  width: 150px !important;
  cursor: default;
  height: 40px;
}
.board_dropdown p {
  border-bottom: 1px solid #f8f8f8;
  cursor: pointer;
}

.board_cards {
  background-color: #d0e6e6;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
}


.board_add-card {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.12);
  width: 100%;
  text-align: center;
}
.board_add-card_edit {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

th {
  width: 1%;
}

tbody {
  gap: 10px;
}
